{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Customer Registration</h3>
   <hr>

   <form action="" method="post" novalidate class="shadow p-5">
      {% csrf_token %}
    {{fm}}
    {% if messages %}
    {% for message in messages%}
    <P>{% if message.tag %} class="{{message.tag}}"{% endif %}{{messages.tag}}</P>
    {% endfor %}
    {% endif%}

    <input type="submit" value="register">
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}